<?xml version="1.0" encoding="UTF-8"?>
<pdf:template>
	{{! 公路赔（补）偿通知书 }}
	<pdf:paper width="595.276" height="841.89" fontName="SimSun" fontSize="13" offset="-5,-2" />
	<pdf:content>
		<pdf:text point="60,32" fontName="SimHei" fontSize="20.5">公 路 赔 （补） 偿 通 知 书</pdf:text>
		
		<pdf:text point="71,47">（</pdf:text>
		<pdf:text point="78,47" static="NO">{{ caseMark2 }}</pdf:text>
		<pdf:text point="87,47">）年</pdf:text>
		<pdf:text point="96,47" static="NO">{{ casePrefix }}</pdf:text>
		<pdf:text point="115,47">交赔字第</pdf:text>
		<pdf:text point="134,47" maxWidth="20" static="NO">{{ caseMark3 }}</pdf:text>
		<pdf:text point="148,47">号</pdf:text>
		
		<pdf:text point="25,79">当  事  人:</pdf:text>
		<pdf:line fromPoint="56,82" toPoint="95,82" lineWidth="0.8"/>
		<pdf:text point="62,76" static="NO" fontSize="10">{{ partyName }}</pdf:text>
		
		<pdf:text point="25,89">当事人地址:</pdf:text>
		<pdf:line fromPoint="56,94" toPoint="160,94" lineWidth="0.8"/>
		<pdf:text point="62,88" maxWidth="90" static="NO" fontSize="10">{{ partyAddress }}</pdf:text>
		
		<pdf:text point="36,99">当事人</pdf:text>
		<pdf:line fromPoint="50,105" toPoint="102,105" lineWidth="0.8"/>
		<pdf:text point="51,98" maxWidth="54" static="NO" fontSize="10">{{ caseReason }}</pdf:text>
		<pdf:text point="103,99">一案，经</pdf:text>
		<pdf:line fromPoint="122,105" toPoint="152,105" lineWidth="0.8"/>
		<pdf:text point="124,96" maxWidth="42" static="NO" fontSize="10">{{ agencyCity }}</pdf:text>
		<pdf:text point="124,100" maxWidth="36" static="NO" fontSize="10">{{ agency }}</pdf:text>
		<pdf:text point="154,99">依法调查核实:</pdf:text>
		
		
		<pdf:text point="36,112">当事人</pdf:text>
		<pdf:line fromPoint="52,116" toPoint="80,116" lineWidth="0.8"/>
		<pdf:text point="56,110" static="NO" fontSize="10">{{ partyName }}</pdf:text>
		<pdf:text point="81,112">于</pdf:text>
		<pdf:line fromPoint="86,116" toPoint="95,116" lineWidth="0.8"/>
		<pdf:text point="88,110" static="NO" fontSize="10">{{year}}</pdf:text>
		<pdf:text point="97,112">年</pdf:text>
		<pdf:line fromPoint="101,116" toPoint="110,116" lineWidth="0.8"/>
		<pdf:text point="106,110" static="NO" fontSize="10">{{month}}</pdf:text>
		<pdf:text point="110,112">月</pdf:text>
		<pdf:line fromPoint="114,116" toPoint="123,116" lineWidth="0.8"/>
		<pdf:text point="119,110" static="NO" fontSize="10">{{day}}</pdf:text>
		<pdf:text point="125,112">日</pdf:text>
		<pdf:line fromPoint="129,116" toPoint="191,116" lineWidth="0.8"/>
		<pdf:line fromPoint="25,127" toPoint="191,126" lineWidth="0.8"/>
		<pdf:line fromPoint="25,137" toPoint="191,136" lineWidth="0.8"/>
		<pdf:paragraph rect="{29,102},{163,52}" indent="head:104" lineHeight="9.5" static="NO" fontSize="10">{{ caseDescription }}</pdf:paragraph>
		
		
		<pdf:text point="36,144">上述事实，由</pdf:text>
		<pdf:line fromPoint="64,148" toPoint="189,148" lineWidth="0.8"/>
		<pdf:text point="70,141" static="NO" fontSize="10">{{ caseEvidence }}</pdf:text>
		<pdf:text point="25,153">予以佐证。本单位认为，当事人损坏路产的事实清楚，应依法承担民事责任，</pdf:text>
		<pdf:text point="25,165">赔偿路产损失。依</pdf:text>
		<pdf:line fromPoint="62,170" toPoint="191,170" lineWidth="0.8"/>
		<pdf:line fromPoint="25,180" toPoint="187,180" lineWidth="0.8"/>
		<pdf:text point="188,176">之</pdf:text>
		<pdf:paragraph rect="{29,158},{158,57}" indent="head:37" lineHeight="9.5"  static="NO" fontSize="10">{{ payReason }}</pdf:paragraph>
		<pdf:paragraph rect="{29,167},{158,57}" lineHeight="8"  static="NO" fontSize="9">{{ payReason2 }}</pdf:paragraph>
		<pdf:text point="25,183">规定，本单位依法做出如下公路赔（补）偿处理认定:</pdf:text>
		
		
		<pdf:text point="36,196">当事人赔（补）偿</pdf:text>
		<pdf:line fromPoint="73,200" toPoint="188,200" lineWidth="0.8"/>
		<pdf:paragraph rect="{76,192},{50,25}" indent="head:0" lineHeight="4" static="NO" fontSize="10">{{ payDetail }}</pdf:paragraph>
		<!--		<pdf:text point="133,196"></pdf:text>-->
		<pdf:text point="25,207">元。当事人必须在收到本通知书之日起15日内持本通知书到</pdf:text>
		<pdf:line fromPoint="152,212" toPoint="188,212" lineWidth="0.8"/>
		<pdf:line fromPoint="25,222" toPoint="73,222" lineWidth="0.8"/>
		<pdf:paragraph rect="{96,203},{40,55}" indent="head:0" lineHeight="4"  static="NO" fontSize="10">{{ paymentPlace }}</pdf:paragraph>
		<pdf:text point="75,217">缴纳路产赔（补）偿费。</pdf:text>
		
		
		<pdf:text point="36,232">当事人对本通知书认定的事实和赔（补）偿费数额有疑义的，可在收</pdf:text>
		<pdf:text point="25,242">到本通知书之日起60日内向</pdf:text>
		<pdf:line fromPoint="80,250" toPoint="122,250" lineWidth="0.8"/>
		<pdf:text point="92,230" static="NO" fontSize="10">{{ reviewOrgan }}</pdf:text>
		<pdf:text point="123,242">申请复核，或者依照《民事诉</pdf:text>
		<pdf:text point="25,252">讼法》的规定向人民法院提起民事起诉。</pdf:text>
		<pdf:text point="108,265">公路赔（补）偿认定单位（印章）</pdf:text>
		<pdf:text point="124,276">年     月     日</pdf:text>
		<pdf:text point="111,274" static="NO" fontSize="10">{{year}}</pdf:text>
		<pdf:text point="129,274" static="NO" fontSize="10">{{month}}</pdf:text>
		<pdf:text point="145,274" static="NO" fontSize="10">{{day}}</pdf:text>
	</pdf:content>
</pdf:template>