<?xml version="1.0" encoding="UTF-8"?>
<pdf:template>
	{{! 公路违法案件 交通违法行为告知书 }}
	<pdf:paper width="595.276" height="841.89" fontName="SimSun" fontSize="15" offset="3.5,0" />
	<pdf:content>
		<pdf:text point="72,23" fontName="SimHei" fontSize="20.5">交通违法行为告知书</pdf:text>
		
        <pdf:line fromPoint="27,41" toPoint="80.5,41" lineWidth="0.8"/>
        <pdf:text point="27,35" maxWidth="53.5" static="NO">{{ sendname }}</pdf:text>
		<pdf:text point="81.5,36">：</pdf:text>
        
        <pdf:text point="38,46">经查你（单位）在深罗高速公路（S26）/珠三角换线高</pdf:text>
        
        <pdf:text point="27,55">速公路（G94）</pdf:text>
        <pdf:line fromPoint="59.5,60" toPoint="107.5,60" lineWidth="0.8"/>
        <pdf:text point="61,55" maxWidth="48" static="NO">{{ location }}</pdf:text>
        <pdf:text point="108,55">处，进行</pdf:text>
        <pdf:line fromPoint="128,60" toPoint="168,60" lineWidth="0.8"/>
        <pdf:text point="129,55" maxWidth="40" static="NO">{{ behavior }}</pdf:text>
        <pdf:text point="168.5,55">施</pdf:text>
        
        <pdf:text point="27,64">工。根据《中华人民共和国公路法》第</pdf:text>
        <pdf:line fromPoint="117,69" toPoint="136.5,69" lineWidth="0.8"/>
        <pdf:text point="118,64" maxWidth="19" static="NO">{{ fa1.tiao }}</pdf:text>
        <pdf:text point="137,64">条第</pdf:text>
        <pdf:line fromPoint="148,69" toPoint="165,69" lineWidth="0.8"/>
        <pdf:text point="150,64" maxWidth="15" static="NO">{{ fa1.kuan }}</pdf:text>
        <pdf:text point="165,64">款，</pdf:text>
        
        <pdf:paragraph rect="{27,69},{147,34}" indent="head:0;tail:0" lineHeight="8.3" static="NO">{{ fa1.remark }}</pdf:paragraph>
        <pdf:line fromPoint="27,78" toPoint="173,78" lineWidth="0.8"/>
        <pdf:line fromPoint="27,87" toPoint="173,87" lineWidth="0.8"/>
        <pdf:line fromPoint="27,95.5" toPoint="173,95.5" lineWidth="0.8"/>
        <pdf:line fromPoint="27,104.5" toPoint="173,104.5" lineWidth="0.8"/>
        
        <pdf:paragraph rect="{180.5,83},{4,86}" indent="head:0;tail:0" lineHeight="3.3" fontSize="7.5">第一联：交通当事人（白）    第二联：存档（红）</pdf:paragraph>
        
        <pdf:text point="27,108">、《公路安全保护条例》第</pdf:text>
        <pdf:line fromPoint="91.5,113" toPoint="108.5,113" lineWidth="0.8"/>
        <pdf:text point="93,108" maxWidth="17" static="NO">{{ fa2.tiao }}</pdf:text>
        <pdf:text point="109,108">条第</pdf:text>
        <pdf:line fromPoint="119.5,113" toPoint="136.5,113" lineWidth="0.8"/>
        <pdf:text point="121,108" maxWidth="16" static="NO">{{ fa2.kuan }}</pdf:text>
        <pdf:text point="137,108">款，</pdf:text>
		
        <pdf:paragraph rect="{27,104},{147,43}" indent="head:122;tail:0" lineHeight="8.3"  static="NO">{{ fa2.remark }}</pdf:paragraph>
        <pdf:line fromPoint="148,113" toPoint="173,113" lineWidth="0.8"/>
        <pdf:line fromPoint="27,122" toPoint="173,122" lineWidth="0.8"/>
        <pdf:line fromPoint="27,131" toPoint="173,131" lineWidth="0.8"/>
        <pdf:line fromPoint="27,140" toPoint="173,140" lineWidth="0.8"/>
        <pdf:line fromPoint="27,148.5" toPoint="173,148.5" lineWidth="0.8"/>
        
        <pdf:text point="27,152">以及《广东省公路条例》第</pdf:text>
        <pdf:line fromPoint="94,157" toPoint="111.5,157" lineWidth="0.8"/>
        <pdf:text point="95,152" maxWidth="17" static="NO">{{ fa3.tiao }}</pdf:text>
        <pdf:text point="112,152">条第</pdf:text>
        <pdf:line fromPoint="122.5,157" toPoint="136.5,157" lineWidth="0.8"/>
        <pdf:text point="124,152" maxWidth="14" static="NO">{{ fa3.kuan }}</pdf:text>
        <pdf:text point="137,152">款，</pdf:text>
        
        <pdf:paragraph rect="{27,148},{147,43}" indent="head:122;tail:0" lineHeight="8.3"  static="NO">{{ fa3.remark }}</pdf:paragraph>
        <pdf:line fromPoint="148,157" toPoint="173,157" lineWidth="0.8"/>
        <pdf:line fromPoint="27,166" toPoint="173,166" lineWidth="0.8"/>
        <pdf:line fromPoint="27,175" toPoint="173,175" lineWidth="0.8"/>
        <pdf:line fromPoint="27,184" toPoint="173,184" lineWidth="0.8"/>
        <pdf:line fromPoint="27,193" toPoint="173,193" lineWidth="0.8"/>
        
        <pdf:text point="27,196">的规定，你（单位）的行为属违法行为。</pdf:text>
        <pdf:text point="38,205">请接到此告知书后，立即停止违法行为，否则我大队将</pdf:text>
        <pdf:text point="27,213.5">按相关法律法规进行处理。</pdf:text>
        <pdf:text point="38,222">特此告知。</pdf:text>
        <pdf:text point="38,242.5">收件人签章：                   联系电话：</pdf:text>
        <pdf:text point="129,264">告知单位（盖章）</pdf:text>
        <pdf:text point="134,275">年   月   日</pdf:text>
        
	</pdf:content>
</pdf:template>