<?xml version="1.0" encoding="UTF-8"?>
<pdf:template>
	{{! 路政案件现场勘验图 }}
	<pdf:paper width="841.89" height="595.276" fontName="SimSun" fontSize="10.5" offset="-2.8,4.2"/>
	<pdf:content>
		<pdf:text point="108,10" fontSize="20.5">公路赔（补）偿案件现场勘验图</pdf:text>
		<pdf:text point="235,17">案号：</pdf:text>
		<pdf:text point="248,17" static="NO">{{ caseNo }}</pdf:text>
		<pdf:table rect="{14,25},{268,154}" borderWidth="0.5" lineWidth="0.5" padding="1">
			<pdf:tr height="12">
				<pdf:td width="13">时间</pdf:td>
				<pdf:td width="66">
					<pdf:text point="mid-left:3,6" static="NO">{{ date.year }}</pdf:text>
					<pdf:text point="mid-left:11,6">年</pdf:text>
					<pdf:text point="mid-left:21.5,6" static="NO">{{ date.month }}</pdf:text>
					<pdf:text point="mid-left:25,6">月</pdf:text>
					<pdf:text point="mid-left:34,6" static="NO">{{ date.day }}</pdf:text>
					<pdf:text point="mid-left:37,6">日</pdf:text>
					<pdf:text point="mid-left:48,6" static="NO">{{ date.hour }}</pdf:text>
					<pdf:text point="mid-left:50,6">时</pdf:text>
					<pdf:text point="mid-left:62,6" static="NO">{{ date.minute }}</pdf:text>
					<pdf:text point="mid-left:62,6">分</pdf:text>
                </pdf:td>
				<pdf:td width="13">地点</pdf:td>
				<pdf:td width="70" static="NO" textAlignment="left">
                    <pdf:text point="mid-left:15,6" static="NO">{{ place }}</pdf:text>
                </pdf:td>
				<pdf:td width="24">路面性质</pdf:td>
				<pdf:td width="60" static="NO" fontSize="9" textAlignment="left">
                    <pdf:text point="mid-left:40,6" static="NO">{{ eventReason }}</pdf:text>
                </pdf:td>
                
                <pdf:td width="13">天气</pdf:td>
				<pdf:td width="13" static="NO" textAlignment="left">
                    <pdf:text point="mid-left:18,6" static="NO">{{ weater }}</pdf:text>
                </pdf:td>
			</pdf:tr>
			<pdf:tr height="120.5">
				<pdf:td width="268">
					<pdf:image rect="{0,0},{268,115}" url="{{ imagePath }}" static="NO"/>
					<pdf:grid rect="{0,0},{268,115}" row="26" column="62" alpha="0.3" />
				</pdf:td>
			</pdf:tr>
			<pdf:tr height="22">
				<pdf:td width="268">
					<pdf:text point="2,1">说明：</pdf:text>
					<pdf:paragraph rect="{2,8.5},{264,22}" lineHeight="4" indent="head:13" static="NO">{{ comment }}</pdf:paragraph>
				</pdf:td>
			</pdf:tr>
		</pdf:table>
		<pdf:text point="17,187">绘图人（签名）：</pdf:text>
        
        <!--
         <pdf:text point="53,187" static="NO">{{ draftsman }}</pdf:text>
         -->
		<pdf:text point="85,187">勘查人（签名）：</pdf:text>
        
        <!--
         <pdf:text point="112,187" static="NO">{{ inquestman  }}</pdf:text>
         -->
        
		<pdf:text point="150,187">当事人（签名）：</pdf:text>
        
        <pdf:text point="210,187">见证人（签名）：</pdf:text>
	</pdf:content>
</pdf:template>